@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth !important;
}
body {
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-family: 'Playfair Display', serif;
}

.customscrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    margin: 10px;
    padding: 13px;
}

/* Track */
.customscrollbar::-webkit-scrollbar-track {
    background: #e6e6e6;
    border-radius: 10px;
}

/* Handle */
.customscrollbar::-webkit-scrollbar-thumb {
    background: #617143;
    border-radius: 10px;
}

/* Handle on hover */
.customscrollbar::-webkit-scrollbar-thumb:hover {
    background: #4d5a36;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
